* {
  outline: 0;
  font-family: sans-serif
}
body {
  background-color: #fafafa
}
span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}


/* ボタン */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}


.button-26 {
  appearance: button;
  background-color: #1652F0;
  border: 1px solid #1652F0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.button-26:disabled {
  opacity: .5;
}

.button-26:focus {
  outline: 0;
}

.button-26:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}

.button-26:active {
  background-color: #0039D7;
  border-color: #0039D7;
}


/* 投稿作成ページのセレクトボックス */
.new-post-select { width: 35%; border: none; border-radius: 2px; -moz-appearance: none; -webkit-appearance: none; color: #000000; line-height: 45px; padding-left: 15px; cursor: pointer; height: 46px; }

.new-post-select-block { position: relative; margin-bottom: 20px; }

.new-post-select-block::after { content: "\f0d7"; font-family: FontAwesome; position: absolute; top: 50%; right: 15px; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); color: #b4b7c1; }

.new-post-select-block:hover::after { color: #0d58c8; }

.be-date-block .new-post-select-block { display: inline-block; }

.be-date-block .new-post-select-block { width: 130px; margin-right: 20px; }

.new-post-select-block .mounth { width: 225px; }

@media screen and (max-width: 991px) { .be-date-block .new-post-select-block { width: 100%; }
  .large-popup.register .be-popup-sign-button { float: left; } }

.new-post-select-block{position: relative;}
.new-post-select-block:after{
  content: "\f107"; font-family: FontAwesome; font-size: 18px; line-height: 45px;height: 45px;
  position: absolute; right: 14px; cursor: pointer;
}


/* 投稿詳細ページのいいね/コメント数の欄 */
.number-of-likes-and-comments { background: #F6F6F6; padding: 20px 15px; font-size: 10px; color: #b4b7c1 !important; }

.number-of-likes-and-comments-label { font-size: 16px; line-height: 16px; font-family: 'Conv_helveticaneuecyr-bold'; color: #383b43; }

.number-of-likes-and-comments .be-large-post-align { margin: 0px 50px; }

.number-of-likes-and-comments .fa { font-size: 13px; }

.number-of-likes-and-comments-right { float: right; font-size: 10px; line-height: 18px; font-weight: 400; color: #7a8192; text-transform: uppercase; }

.number-of-likes-and-comments i { padding-right: 5px; }

.number-of-likes-and-comments span { cursor: pointer; white-space: nowrap; }

.number-of-likes-and-comments span:not(:last-child) { margin-right: 25px; }

.be-large-post .number-of-likes-and-comments.style-2 { margin-bottom: 50px; position: relative;}

.be-large-post .number-of-likes-and-comments { margin-bottom: 25px; }

@media (max-width: 767px) {
   .blog-list .post-desc { margin-right: 0px; padding-left: 20px; padding-right: 20px; }
  .be-large-post-align, .number-of-likes-and-comments .be-large-post-align { margin: 0 15px; }
}


/* コメントに対するコメントの表示スペース */
.be-reply-comment-box { font-size: 13px; line-height: 18px; color: #7a8192; display: block; background: #f6f6f7; border: 1px solid #edeff2; padding: 15px 20px 20px 20px; }