* {
  outline: 0;
  font-family: sans-serif
}

body {
  background-color: #fafafa;
  height: 100%;
}

/* 投稿が少ない状態でも、フッターが上に上がらないようにする*/
#app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content-block {
  flex-grow: 1;
}

span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}


/* ボタン */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}


.button-26 {
  appearance: button;
  background-color: #1652F0;
  border: 1px solid #1652F0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.button-26:disabled {
  opacity: .5;
}

.button-26:focus {
  outline: 0;
}

.button-26:hover {
  background-color: #0A46E4;
  border-color: #0A46E4;
}

.button-26:active {
  background-color: #0039D7;
  border-color: #0039D7;
}

.answer-submit-button {
  margin-top: 20px;
  align-self: flex-end;
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.answer-submit-button:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.answer-submit-button:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.answer-submit-button:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.answer-submit-button:focus {
  outline: 1px transparent;
}

.answer-submit-button:before {
  display: none;
}

.answer-submit-button:-webkit-details-marker {
  display: none;
}


/* 投稿作成ページのセレクトボックス */
.new-post-select { width: 35%; border: none; border-radius: 2px; -moz-appearance: none; -webkit-appearance: none; color: #000000; line-height: 45px; padding-left: 15px; cursor: pointer; height: 46px; }

.new-post-select-block { position: relative; margin-bottom: 20px; }

.new-post-select-block::after { content: "\f0d7"; font-family: FontAwesome; position: absolute; top: 50%; right: 15px; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); color: #b4b7c1; }

.new-post-select-block:hover::after { color: #0d58c8; }

.be-date-block .new-post-select-block { display: inline-block; }

.be-date-block .new-post-select-block { width: 130px; margin-right: 20px; }

.new-post-select-block .mounth { width: 225px; }

@media screen and (max-width: 991px) { .be-date-block .new-post-select-block { width: 100%; }
  .large-popup.register .be-popup-sign-button { float: left; } }

.new-post-select-block{position: relative;}
.new-post-select-block:after{
  content: "\f107"; font-family: FontAwesome; font-size: 18px; line-height: 45px;height: 45px;
  position: absolute; right: 14px; cursor: pointer;
}


/* 投稿詳細ページのいいね/コメント数の欄 */
.number-of-views-and-answers { background: #F6F6F6; padding: 45px 15px; font-size: 10px; color: #b4b7c1 !important; }

.number-of-views-and-answers-label { font-size: 16px; line-height: 16px; font-family: 'Conv_helveticaneuecyr-bold'; color: #383b43; }

.number-of-views-and-answers .be-large-post-align { margin: 0px 50px; }

.number-of-views-and-answers .fa { font-size: 13px; }

.number-of-views-and-answers-right { float: right; font-size: 10px; line-height: 18px; font-weight: 400; color: #7a8192; text-transform: uppercase; }

.number-of-views-and-answers i { padding-right: 5px; }

.number-of-views-and-answers span { cursor: pointer; white-space: nowrap; }

.number-of-views-and-answers span:not(:last-child) { margin-right: 25px; }

.be-large-post .number-of-views-and-answers.style-2 { margin-bottom: 50px; position: relative;}

@media (max-width: 767px) {
   .blog-list .post-desc { margin-right: 0px; padding-left: 20px; padding-right: 20px; }
  .be-large-post-align, .number-of-views-and-answers .be-large-post-align { margin: 0 15px; }
}

.number-of-views-and-answers2 { background: #F6F6F6; padding: 25px 15px; font-size: 10px; color: #b4b7c1 !important; }

.number-of-views-and-answers2-label { font-size: 16px; line-height: 16px; font-family: 'Conv_helveticaneuecyr-bold'; color: #383b43; }

.number-of-views-and-answers2 .be-large-post-align { margin: 0px 50px; }

.number-of-views-and-answers2 .fa { font-size: 13px; }

.number-of-views-and-answers2-right { float: right; font-size: 10px; line-height: 18px; font-weight: 400; color: #7a8192; text-transform: uppercase; }

.number-of-views-and-answers2 i { padding-right: 5px; }

.number-of-views-and-answers2 span { cursor: pointer; white-space: nowrap; }

.number-of-views-and-answers2 span:not(:last-child) { margin-right: 25px; }

.be-large-post .number-of-views-and-answers2.style-2 { margin-bottom: 50px; position: relative;}

@media (max-width: 767px) {
   .blog-list .post-desc { margin-right: 0px; padding-left: 20px; padding-right: 20px; }
  .be-large-post-align, .number-of-views-and-answers2 .be-large-post-align { margin: 0 15px; }
}


/* コメントに対するコメントの表示スペース */
.be-reply-answer-content { margin-left: 80px; }

.be-reply-answer-name { font-size: 13px; font-family: 'Conv_helveticaneuecyr-bold'; }

.be-reply-answer-time { font-size: 11px; color: #b4b7c1; }

.be-reply-answer-text { font-size: 13px; line-height: 18px; color: #7a8192; display: block; background: #f6f6f7; border: 1px solid #edeff2; padding: 15px 20px 20px 20px; }

.be-reply-answer-content span { display: inline-block; width: 49%; margin-bottom: 15px; }

.be-reply-answer-content a { color: #383b43; }

.be-reply-answer-content a:hover { color: #0D58C8; }

.be-reply-answer-time { text-align: right; }

.be-reply-answer-info { margin-bottom: 15px; }

.be-reply-ava-answer { width: 60px; height: 60px; border-radius: 50%; }

@media screen and (max-width: 767px) { .be-reply-answer-content { margin: 0; }
  .be-reply-answer-content span { width: 100%; text-align: center; display: block; }
  .be-img-answer { width: 100%; text-align: center; } }

.be-reply-answer-time .fa { font-size: 18px; transform: translateY(2px); -webkit-transform: translateY(2px); -moz-transform: translateY(2px); -ms-transform: translateY(2px); margin-right: 8px; }

.be-reply-answer:not(:last-child) { margin-bottom: 30px; }


/* 問い合わせの種類のセレクトボックス */
.new-inquiry-select { width: 52%; border: none; border-radius: 2px; -moz-appearance: none; -webkit-appearance: none; color: #000000; line-height: 45px; padding-left: 15px; cursor: pointer; height: 46px; }

.new-inquiry-select-block { position: relative; margin-bottom: 20px; }

.new-inquiry-select-block::after { content: "\f0d7"; font-family: FontAwesome; position: absolute; top: 50%; right: 15px; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); color: #b4b7c1; }

.new-inquiry-select-block:hover::after { color: #0d58c8; }

.be-date-block .new-inquiry-select-block { display: inline-block; }

.be-date-block .new-inquiry-select-block { width: 130px; margin-right: 20px; }

.new-inquiry-select-block .mounth { width: 225px; }

@media screen and (max-width: 991px) { .be-date-block .new-inquiry-select-block { width: 100%; }
  .large-popup.register .be-popup-sign-button { float: left; } }

.new-inquiry-select-block{position: relative;}
.new-inquiry-select-block:after{
  content: "\f107"; font-family: FontAwesome; font-size: 18px; line-height: 45px;height: 45px;
  position: absolute; right: 14px; cursor: pointer;
}


/* フラッシュメッセージ用 */
.flash-popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  padding: 10px 20px;
  border-radius: 4px;
  display: none; /* 最初は非表示にしておく */
}
.flash-popup.alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.flash-popup.notice {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}


/* アカウント作成フォーム用 */
.label-white {
  color: #FFF;
}

.label-thin {
  font-weight: 200;
}


/* ファイルアップロードフォーム用 */
.custom-file-input {
  position: absolute;
  opacity: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  cursor: pointer;
}


/* アカウント作成ボタン用 */
a.be-register {
  cursor: pointer;
}


/* 入力候補の表示 */
#search-results {
  display: none;
  position: absolute;
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  z-index: 1;
}

.search-result-item {
  margin-bottom: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.search-result-item:hover {
  background-color: #e9ecef;
}


/* 回答入力用モーダル */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  align-items: center;
}

.modal-inner {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 600px;
  height: 30%;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 10px;
}

@media screen and (max-width: 1199px) {
  .modal-inner {
    width: 100%;
  }
}

#modal-notes {
  display: block;
}

#modal-form {
  display: none;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* 正解選択用モーダル */
.confirm-correct-answer-btn-container {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
